:root{
    --main-color: #AC8E6E;
    --gray-color: #141723;
    --p-color: #695744;
    --main-transition: .3s;
    --section-padding: 10rem;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: "Rubik" , sans-serif;
}
h1,h2,.fesco-logo{
    font-family: Cursive , sans-serif;
}
ul{
    list-style: none;
}
a{
    color: inherit;
}
.container{
    margin: 0 auto;
    padding: 0 1.5rem;
}
/* SMALL DEVICES: 768px */
@media(min-width: 48em){
    .container{
        width: 75rem;
    }
}
/* MEDIUM DEVICES: 992px */
@media(min-width: 62em){
    .container{
        width: 97rem;
    }
}
@media(max-width: 70em){
}
/* LARGE DEVICES: 1200px */
@media(min-width: 75em){
    .container{
        width: 117rem;
    }
}
.primary-heading{
    text-align: center;
    position: relative;
}
.primary-title{
    font-size: 5rem;
    margin-bottom: 2rem;
    color: var(--main-color);
}
@media (max-width: 48em){
    .primary-title{
        font-size: 4rem;
    }
}
.heading-descr{
   font-size: 1.6rem;
   line-height: 2;
   margin-bottom: 3rem;
}
.btn{
    display: block;
    width: fit-content;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--gray-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    border: .1rem solid var(--main-color);
    margin: 3rem auto 0;
    position: relative;
    transition: all var(--main-transition);
}
.btn:hover{
    color: var(--gray-color);
    background-color: var(--main-color);
}
.dots-btwn{
    border-bottom: .2rem dotted var(--main-color);
    flex-grow: 1;
    margin: 0 .3rem .5rem;
}